/* This stylesheet contains all database table styles */


/*  defines the pane that contains database table contents */
#database_table_content_pane {
    margin: 0px 0px 16px 0px;
    background-color: rgb(197, 214, 232);
    color: rgb(95, 148, 206);
    }

/*  defines area above database table contents */
#database_table_contents_top {
    display: block;
    position: relative;
    padding: 0px 14px 0px 14px;
    height: 58px;
    }

/*  defines archive selector in database table contents top */
#database_table_archive_select {
    float: left;
    margin: 17px 24px 0px 0px;
    padding: 0px 0px 0px 28px;
    background: url(../images/boomy_icons.png) left -900px no-repeat;
    }

#database_table_archive_select:hover {
    background-position: 0px -960px;
    }

#database_table_archive_select select {
    margin: 0px 0px 0px 0px;
    border: 1px solid rgb(171, 187, 202);
    color: rgb(50, 50, 50);
    }

/*  defines filter in database table contents top */
#database_table_filter {
    float: left;
    margin: 17px 20px 0px 0px;
    }

#database_table_filter form {
    display: inline;
    float: left;
    margin: 0px 8px 0px 0px;
    background: url(../images/boomy_icons.png) right -1170px no-repeat;
    }

#database_table_filter form:hover {
    background-position: right -1230px;
    }

#database_table_filter input {
    margin: 0px 0px 0px 0px;
    padding: 2px 5px 3px 5px;
    border: 1px solid rgb(171, 187, 202);
    color: rgb(50, 50, 50);
    }

#database_table_filter .icon_delete {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 5px 18px;
    }

/*  defines database table pages in database table contents top */
#database_table_pages_top {
    margin: 19px 0px 0px 0px;
    float: right;
    }

/*  defines table that contains database table contents */
#database_table_contents {
    display: block;
    float: none;
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(50, 50, 50);
    background-color: rgb(232, 232, 232);
    }

#database_table_contents .note_creator {
    color: rgb(120, 120, 120);
    }

#database_table_contents tr {
    background-color: rgb(232, 232, 232);
    }

#database_table_contents th {
    padding: 6px 5px 6px 5px;
    color: rgb(0, 0, 0);
    }

#database_table_contents .sort, #database_table_contents .sort_up, #database_table_contents .sort_down {
    float: left;
    padding: 0px 16px 0px 0px;
    background: url(../images/standard_sort_arrows.png) right 0px no-repeat;
    }

#database_table_contents .sort_up {
    background: url(../images/standard_sort_arrows.png) right -14px no-repeat;
    }

#database_table_contents .sort_down {
    background: url(../images/standard_sort_arrows.png) right -28px no-repeat;
    }

#database_table_contents th:hover {
    background-color: rgb(197, 214, 232);
    }

#database_table_contents td {
    padding: 4px 5px 4px 5px;
    border-top: 1px solid rgb(255, 255, 255);
    vertical-align: top;
    }

#database_table_contents tbody tr:hover {
    background-color: rgb(197, 214, 232);
    }

#database_table_contents a, #database_table_contents a:link, #database_table_contents a:visited {
    color: rgb(50, 50, 50);
    }

#database_table_contents a:hover {
    color: rgb(0, 0, 0);
    }

/*  defines area below database table contents */
#database_table_contents_bottom {
    position: relative;
    display: block;
    height: 38px;
    }

#database_table_contents_bottom a, #database_table_contents_bottom a:link, #database_table_contents_bottom a:visited {
    color: rgb(95, 148, 206);
    }

#database_table_contents_bottom a:hover {
    border-bottom: 2px solid rgb(95, 148, 206);
    }

/*  defines database table pages in database table contents bottom */
#database_table_pages_bottom {
    padding: 12px 0px 0px 0px;
    color: rgb(120, 120, 120);
    text-align: center;
    }

/*  defines pane that contains database table record contents */
#database_table_record_contents_pane {
    display: block;
    float: none;
    position: relative;
    background-color: rgb(232, 232, 232);
    padding: 10px 0px 12px 16px;
    border-left: 2px solid rgb(197, 214, 232);
    border-right: 2px solid rgb(197, 214, 232);
    border-bottom: 2px solid rgb(197, 214, 232);
    }

/*  defines table that contains contents of one database table record */
#database_table_record_contents {
    margin: 0px 0px 10px 0px;
    width: 100%;
    float: none;
    color: rgb(50, 50, 50);
    }

#database_table_record_contents th {
    padding: 4px 10px 4px 0px;
    vertical-align: top;
    }

#database_table_record_contents td {
    padding: 4px 0px 4px 10px;
    vertical-align: top;
    }

#database_table_record_contents .super_width {
    width: 100%;
    }

#database_table_record_contents .note_box {
    }

#database_table_record_contents .note_box_header {
    padding: 4px 0px 4px 2px;
    margin: 0px 0px -1px 0px;
    height: 16px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: none;
    border-left: 1px solid rgb(190, 190, 190);
    border-right: 1px solid rgb(190, 190, 190);
    font-weight: bold;
    }

#database_table_record_contents .note_text {
    margin: 0px 0px 0px 0px;
    background-color: rgb(255, 255, 255);
    border-top: none;
    border-bottom: 1px solid rgb(190, 190, 190);
    border-left: 1px solid rgb(190, 190, 190);
    border-right: 1px solid rgb(190, 190, 190);
    }

#database_table_record_contents .note_box_top_buttons {
    height: 23px;
    width: 100%;
    }

#database_table_record_contents .note_box_top_buttons_right {
    padding: 3px 4px 3px 0px;
    height: 17px;
    float: right;
    }

#database_table_record_contents .note_box_bottom_buttons {
    height: 23px;
    width: 100%;
    }

#database_table_record_contents .note_box_bottom_buttons_left {
    padding: 3px 0px 3px 4px;
    height: 17px;
    float: left;
    }

#database_table_record_contents .note_box_bottom_buttons_right {
    padding: 3px 4px 3px 0px;
    height: 17px;
    float: right;
    }

#database_table_record_contents #button_upload {
    }

/*  This id_name is needed for ajax uploader */
#database_table_record_contents #button_upload.hover {
    background-position: 0px -330px;
    color: rgb(255, 255, 255);
    }

#database_table_record_contents select, #database_table_record_contents input, #database_table_record_contents textarea {
    border: 1px solid rgb(190, 190, 190);
    }

#database_table_record_contents a, #database_table_record_contents a:link, #database_table_record_contents a:visited {
    color: rgb(95, 148, 206);
    }

#database_table_record_contents a:hover {
    color: rgb(50, 50, 50);
    }

#database_table_record_contents_pane #record_contents_buttons {
    float: none;
    }

#database_table_record_contents_pane #record_contents_buttons a, #database_table_record_contents_pane #record_contents_buttons a:link, #database_table_record_contents_pane #record_contents_buttons a:visited {
    color: rgb(95, 148, 206);
    }

#database_table_record_contents_pane #record_contents_buttons a:hover {
    color: rgb(50, 50, 50);
    }