/* This stylesheet contains all shared styles */


/*  defines shared settings for all styles */
* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
    z-index: 10;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
    text-align: left;
    }

/*  define style for ALL links (aka buttons) */
a, a:link, a:visited {
    font-weight: bold;
    }

/*  define style for all 12x12 images */
.image {
    padding: 4px 0px 4px 0px;
    }

/*  define all possible icons */

.icon_none {
    padding: 2px 0px 2px 18px;
    }

.icon_up {
    padding: 2px 0px 2px 24px;
    background: url(../images/icons/boomy_icon_up_bw.png) left bottom no-repeat;
    }

.icon_up:hover {
    background: url(../images/icons/boomy_icon_up_highlight.png) left bottom no-repeat;
    color: rgb(255, 255, 255);
    }

.icon_down {
    padding: 2px 0px 2px 24px;
    background: url(../images/icons/boomy_icon_down_bw.png) left bottom no-repeat;
    }

.icon_down:hover {
    background: url(../images/icons/boomy_icon_down_highlight.png) left bottom no-repeat;
    color: rgb(255, 255, 255);
    }

.icon_next {
    padding: 2px 0px 2px 24px;
    background: url(../images/icons/boomy_icon_next_bw.png) left bottom no-repeat;
    }

.icon_next:hover {
    background: url(../images/icons/boomy_icon_next_highlight.png) left bottom no-repeat;
    color: rgb(255, 255, 255);
    }

.icon_back {
    padding: 2px 0px 2px 24px;
    background: url(../images/icons/boomy_icon_back_bw.png) left bottom no-repeat;
    }

.icon_back:hover {
    background: url(../images/icons/boomy_icon_back_highlight.png) left bottom no-repeat;
    color: rgb(255, 255, 255);
    }

.icon_add {
    padding: 2px 0px 2px 24px;
    background: url(../images/icons/boomy_icon_add_bw.png) left bottom no-repeat;
    }

.icon_add:hover {
    background: url(../images/icons/boomy_icon_add_highlight.png) left bottom no-repeat;
    color: rgb(255, 255, 255);
    }

.icon_delete {
    padding: 2px 0px 2px 24px;
    background: url(../images/icons/boomy_icon_delete_bw.png) left bottom no-repeat;
    }

.icon_delete:hover {
    background: url(../images/icons/boomy_icon_delete_highlight.png) left bottom no-repeat;
    color: rgb(255, 255, 255);
    }

.icon_edit {
    padding: 2px 0px 2px 24px;
    background: url(../images/icons/boomy_icon_edit_bw.png) left bottom no-repeat;
    }

.icon_edit:hover {
    background: url(../images/icons/boomy_icon_edit_highlight.png) left bottom no-repeat;
    color: rgb(255, 255, 255);
    }

.icon_archive {
    padding: 2px 0px 2px 24px;
    background: url(../images/icons/boomy_icon_archive_bw.png) left bottom no-repeat;
    }

.icon_archive:hover {
    background: url(../images/icons/boomy_icon_archive_highlight.png) left bottom no-repeat;
    color: rgb(255, 255, 255);
    }

.icon_unarchive {
    padding: 2px 0px 2px 24px;
    background: url(../images/icons/boomy_icon_unarchive_bw.png) left bottom no-repeat;
    }

.icon_unarchive:hover {
    background: url(../images/icons/boomy_icon_unarchive_highlight.png) left bottom no-repeat;
    color: rgb(255, 255, 255);
    }

.icon_accept {
    padding: 2px 0px 2px 24px;
    background: url(../images/icons/boomy_icon_accept_bw.png) left bottom no-repeat;
    }

.icon_accept:hover {
    background: url(../images/icons/boomy_icon_accept_highlight.png) left bottom no-repeat;
    color: rgb(255, 255, 255);
    }

.icon_cancel {
    padding: 2px 0px 2px 24px;
    background: url(../images/icons/boomy_icon_cancel_bw.png) left bottom no-repeat;
    }

.icon_cancel:hover {
    background: url(../images/icons/boomy_icon_cancel_highlight.png) left bottom no-repeat;
    color: rgb(255, 255, 255);
    }

.icon_print {
    padding: 2px 0px 2px 24px;
    background: url(../images/icons/boomy_icon_print_bw.png) left bottom no-repeat;
    }

.icon_print:hover {
    background: url(../images/icons/boomy_icon_print_highlight.png) left bottom no-repeat;
    color: rgb(255, 255, 255);
    }

.icon_user {
    padding: 2px 0px 2px 24px;
    background: url(../images/icons/boomy_icon_user_bw.png) left bottom no-repeat;
    }

.icon_user:hover {
    background: url(../images/icons/boomy_icon_user_highlight.png) left bottom no-repeat;
    color: rgb(255, 255, 255);
    }

/*  defines standard tags */
em, strong {
    font-size: inherit;
    font-family: inherit;
    }

/*  defines a standard input */
input, select, textarea {
    text-align: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    }

input, textarea {
    padding: 1px 5px 3px 5px;
    }

select {
    padding: 1px 1px 3px 0px;
    }

.inactive_input {
    background-color: rgb(240, 240, 240);
    color: rgb(120, 120, 120)
    }

/*  defines an inactive button */
.inactive_button {
    color: rgb(120, 120, 120);
    text-decoration: none;
    font-weight: bold;
    }

/*  defines white area */
.white_area {
    clear: both;
    height: 12px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    }

/*  defines an invisible and collapsed style */
.invisible_collapsed {
    display: none;
    }

/*  defines the html overall style of a page */
html, body {
    height: 100%;
    background-color: rgb(255, 255, 255);
    }

/*  defines the white margin at the top of the page, above the header */
#upper_margin {
    width: 100%;
    position: absolute;
    height: 18px;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 20;
    }

/*  defines the header of all pages which only contains the software name and version */
#header {
    height: 119px;
    width: 100%;
    position: absolute;
    top: 18px;
    left: 0px;
    background: url(../images/twirl-II-light.gif) left top repeat;
    color: rgb(255, 255, 255);
    z-index: 20;
    }

/* defines the white margins on both side of the header */
#header_left_margin, #header_right_margin {
    width: 23px;
    height: 119px;
    background-color: rgb(255, 255, 255);
    z-index: 30;
    }

#header_left_margin {
    float: left;
    background: url(../images/standard_header_left.gif) right top no-repeat;
    }

#header_right_margin {
    float: right;
    background: url(../images/standard_header_right.gif) right top no-repeat;
    }

/*  defines the contents of the header of every page */
#header_contents {
    height: 119px;
    }

/*  defines the top line of the header which contains the software version and login status */
#header_contents_status {
    width: 100%;
    height: 19px;
    padding: 2px 0px 2px 0px;
    }

/*  defines the software version */
#header_contents_status_software_version {
    float: left;
    padding: 4px 0px 4px 4px;
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
    }

/*  defines the login status */
#header_contents_status_login_status {
    float: right;
    padding: 3px 0px 3px 4px;
    background: url(../images/standard_login_status_left.png) left top no-repeat;
    color: rgb(50, 50, 50);
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    }

#header_contents_status_login_status_body {
    float: left;
    padding: 3px 2px 3px 2px;
    margin: -3px 0px -3px 0px;
    background: url(../images/standard_login_status.png) left top repeat;
    }

#header_contents_status_login_status_body a, #header_contents_status_login_status_body a:link, #header_contents_status_login_status_body a:visited {
    color: rgb(50, 50, 50);
    }

#header_contents_status_login_status_body a:hover {
    color: rgb(255, 255, 255);
    }

#header_contents_status_login_status_right {
    float: left;
    width: 4px;
    height: 21px;
    margin: -3px 0px -3px 0px;
    background: url(../images/standard_login_status_right.png) right top no-repeat;
    }

/*  defines the title of the portal */
#portal_title {
    width: 100%;
    height: 32px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: Arial Black;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    }

/*  defines the page title */
#page_title {
    width: 100%;
    height: 16px;
    padding: 14px 0px 7px 0px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    }

/*  defines the navigation container */
#navigation_container {
    width: 100%;
    height: 12px;
    padding: 6px 0px 6px 0px;
}

/*  defines navigation links on left side of screen */
#navigation_left {
    float: left;
    display: inline;
    margin: -6px 0px -6px 0px;
    padding: 6px 0px 6px 0px;
    color: rgb(50, 50, 50);
    font-weight: bold;
    }

#navigation_left .tab {
    float: left;
    margin: -2px 0px -4px 2px;
    padding: 2px 0px 4px 0px;
    background: url(../images/standard_tab_left.png) left top no-repeat;
    }

#navigation_left .tab_right {
    float: left;
    width: 6px;
    height: 14px;
    margin: -2px 0px -6px 0px;
    padding: 4px 0px 5px 0px;
    background: url(../images/standard_tab_right.png) right top no-repeat;
    }

#navigation_left .tab_highlight {
    float: left;
    margin: -6px 0px -6px 2px;
    padding: 6px 0px 6px 0px;
    background: url(../images/standard_tab_left_highlight.png) left top no-repeat;
    }

#navigation_left .tab_content_highlight {
    float: left;
    margin: -6px 0px -6px 6px;
    padding: 6px 0px 6px 0px;
    background-color: rgb(255, 255, 255);
    }

#navigation_left .tab_right_highlight {
    float: left;
    width: 6px;
    height: 14px;
    margin: -6px 0px -6px 0px;
    padding: 6px 0px 7px 0px;
    background: url(../images/standard_tab_right_highlight.png) right top no-repeat;
    }

#navigation_left a, #navigation_left a:link, #navigation_left a:visited {
    float: left;
    margin: -2px 0px -4px 6px;
    padding: 4px 0px 4px 0px;
    color: rgb(50, 50, 50);
    background: url(../images/standard_tab.png) left top repeat;
    font-weight: bold;
    }

#navigation_left a:hover {
    color: rgb(255, 255, 255);
    }

/*  defines navigation links on right side of screen */
#navigation_right {
    float: right;
    display: inline;
    margin: -6px 0px -6px 0px;
    padding: 6px 0px 6px 0px;
    color: rgb(50, 50, 50);
    font-weight: bold;
    }

#navigation_right .tab {
    float: left;
    margin: -2px 2px -4px 0px;
    padding: 2px 0px 4px 0px;
    background: url(../images/standard_tab_left.png) left top no-repeat;
    }

#navigation_right .tab_content {
    float: left;
    margin: -2px 0px -4px 6px;
    padding: 4px 0px 4px 0px;
    background: url(../images/standard_tab.png) left top repeat;
    font-weight: bold;
    }

#navigation_right .tab_right {
    float: left;
    width: 6px;
    height: 14px;
    margin: -2px 0px -6px 0px;
    padding: 4px 0px 5px 0px;
    background: url(../images/standard_tab_right.png) right top no-repeat;
    }

#navigation_right .tab_highlight {
    float: left;
    margin: -6px 0px -6px 2px;
    padding: 6px 0px 6px 0px;
    background: url(../images/standard_tab_left_highlight.png) left top no-repeat;
    }

#navigation_right .tab_content_highlight {
    float: left;
    margin: -6px 0px -6px 6px;
    padding: 6px 0px 6px 0px;
    background-color: rgb(255, 255, 255);
    }

#navigation_right .tab_right_highlight {
    float: left;
    width: 6px;
    height: 14px;
    margin: -6px 0px -6px 0px;
    padding: 6px 0px 7px 0px;
    background: url(../images/standard_tab_right_highlight.png) right top no-repeat;
    }

#navigation_right a, #navigation_right a:link, #navigation_right a:visited {
    color: rgb(50, 50, 50);
    }

#navigation_right a:hover {
    color: rgb(255, 255, 255);
    }

#navigation_right_invisible {
    margin: -4px 0px -4px 0px;
    padding: 4px 6px 4px 10px;
    float: right;
    }

/*  defines the body which has borders on both sides and stretches to the bottom of the page */
#outer_body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0px 16px -44px 16px;
    background-color: rgb(255, 255, 255);
    border-left: 4px solid rgb(95, 148, 206);
    border-right: 4px solid rgb(95, 148, 206);
    }

/*  this style is used only to prevent content to disappear under the header
    the height of this style is the combined height of #header and #upper_margin */
#hidden_upper_margin {
    width: 100%;
    padding: 118px 0px 4px 0px;
    visibility: hidden;
    }

/*  container for all page contents */
#main_body {
    }

/*  container for most header contents */
#page_header {
    color: rgb(255, 255, 255);
    }

/*  this style is used only to prevent content to disappear under the footer
    the height of this style is the combined height of #footer and #lower_margin */
#hidden_lower_margin {
    width: 100%;
    height: 44px;
    visibility: hidden;
    }

/*  defines the footer of all pages */
#footer {
    height: 26px;
    background: url(../images/twirl-II-light.gif) left top repeat;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
    }

/* defines the white margins on both side of the footer */
#footer_left_margin, #footer_right_margin {
    width: 23px;
    height: 26px;
    z-index: 30;
    }

#footer_left_margin {
    float: left;
    margin: 0px -7px 0px 0px;
    background: url(../images/standard_footer_left.gif) right bottom no-repeat;
    }

#footer_right_margin {
    float: right;
    margin: 0px 0px 0px -7px;
    background: url(../images/standard_footer_right.gif) left bottom no-repeat;
    }

#footer_text {
    padding: 6px 0px 0px 0px;
    text-align: center;
}

/*  defines a very small input */
#focus_on_this_input {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    font-size: 2px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

/*  defines the white margin at the bottom of the page */
#lower_margin {
    height: 18px;
    background-color: rgb(255, 255, 255);
    }

/*  defines the blanket that prevents user from interacting with the application */
#modal_blanket {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    -moz-opacity: 0.60;
    -webkit-opacity: 0.60;
    opacity: 0.60;
    filter: alpha(opacity=60);
    z-index: 5000;
    display: none;
    }

/*  defines the pane that contains the action bar */
#action_pane {
    display: block;
    float: none;
    clear: both;
    padding: 0px 10px 0px 10px;
    color: rgb(255, 255, 255);
    }

#action_pane_bottom_left {
    float: left;
    height: 7px;
    width: 7px;
    margin: -7px 0px 0px 0px;
    background: url(../images/standard_pane_bottom_left.gif) left bottom no-repeat;
    }

#action_pane_bottom_right {
    float: right;
    height: 7px;
    width: 7px;
    margin: -7px 0px 0px 0px;
    background: url(../images/standard_pane_bottom_right.gif) right bottom no-repeat;
    }

/*  defines the action bar that contains a number of actions (hrefs) */
#action_bar {
    display: block;
    float: none;
    padding: 8px 8px 8px 8px;
    background-color: rgb(197, 214, 232);
    color: rgb(95, 148, 206);
    }

#action_bar_top_left {
    float: left;
    height: 7px;
    width: 7px;
    background: url(../images/standard_action_bar_top_left.gif) left top no-repeat;
    }

#action_bar_top_right {
    float: right;
    height: 7px;
    width: 7px;
    background: url(../images/standard_action_bar_top_right.gif) right top no-repeat;
    }

#action_bar_bottom_left {
    float: left;
    height: 7px;
    width: 7px;
    margin: -7px 0px 0px 0px;
    background: url(../images/standard_action_bar_bottom_left.gif) left bottom no-repeat;
    }

#action_bar_bottom_right {
    float: right;
    height: 7px;
    width: 7px;
    margin: -7px 0px 0px 0px;
    background: url(../images/standard_action_bar_bottom_right.gif) right bottom no-repeat;
    }

#action_bar select {
    padding: 1px 1px 3px 0px;
    margin: -4px 4px -4px 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 148, 206);
    }

#action_bar a, #action_bar a:link, #action_bar a:visited {
    padding: 0px 12px 0px 0px;
    padding: 2px 4px 2px 24px;
    color: rgb(95, 148, 206);
    }

#action_bar a:hover {
    color: rgb(255, 255, 255);
    }

#clear_margin {
    clear: both;
    visibility: hidden;
    }

/*  defines some white space between the the top of the screen and the login pane */
#login_white_space {
    height: 40px;
    clear: both;
    }

/*  defines the pane that contains the login screen */
#login_pane {
    text-align: center;
    }

/*  defines the bottom layer of the login screen */
#login_contents_outer_border {
    float: left;
    padding: 2px 2px 2px 2px;
    margin: 0% 36% 0% 36%;
    width: 28%;
    color: rgb(50, 50, 50);
    background-color: rgb(197, 214, 232);
    }

/*  defines the login contents which contains the divs with all the rounded corners */
#login_contents_inner_border {
    float: left;
    width: 100%;
    background-color: rgb(232, 232, 232);
    }

/*  defines the rounded corners of the login screen */
#login_overview_top_left {
    float: left;
    width: 100%;
    margin: -2px 0px 0px -2px;
    background: url(../images/standard_login_top_left.gif) left top no-repeat;
    }

#login_overview_top_right {
    float: right;
    width: 100%;
    margin: 0px -4px 0px 0px;
    background: url(../images/standard_login_top_right.gif) right top no-repeat;
    }

#login_overview_bottom_left {
    float: left;
    width: 100%;
    margin: 0px 0px -2px -4px;
    background: url(../images/standard_login_bottom_left.gif) left bottom no-repeat;
    }

#login_overview_bottom_right {
    float: right;
    width: 100%;
    margin: 0px -4px 0px 0px;
    background: url(../images/standard_login_bottom_right.gif) right bottom no-repeat;
    }

/*  defines the login contents which contains the divs with all the rounded corners */
#login_contents {
    float: left;
    width: 100%;
    padding: 14px 0px 14px 0px;
    }

#login_contents input {
    padding: 1px 5px 3px 5px;
    border: 1px solid rgb(197, 214, 232);
    }

#login_contents .icon_accept {
    padding: 2px 0px 2px 24px;
    color: rgb(120, 120, 120);
    font-weight: bold;
    border: none;
    }

#login_contents .icon_accept:hover {
    color: rgb(50, 50, 50);
    }

/*  defines a line in the login screen */
.login_line {
    float: left;
    width: 100%;
    padding: 4px 0px 4px 0px;
    }

.login_line_left {
    width: 30%;
    float: left;
    text-align: right;
    }

.login_line_right {
    margin: -2px 0px -2px 0px;
    padding: 2px 0px 2px 0px;
    float: right;
    width: 60%;
    text-align: left;
    }

/*  defines message pane */
#message_pane {
    margin: 4px 10px 4px 10px;
    width: 20%;
    }

/*  defines qtips */
.qtip {
    -moz-opacity: 0.85;
    -webkit-opacity: 0.85;
    opacity: 0.85;
    filter: alpha(opacity=85);
    }

#qtip_message_table {
    margin: 0px 0px 3px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    text-align: left;
    }

#qtip_message_table .icon_delete {
    color: rgb(0, 0, 0);
    }

#qtip_message_table .icon_delete:hover {
    color: rgb(100, 100, 100);
    }

#qtip_message_table .icon_accept {
    color: rgb(0, 0, 0);
    }

#qtip_message_table .icon_accept:hover {
    color: rgb(100, 100, 100);
    }

#qtip_message_table .icon_cancel {
    margin: 0px 0px 0px 10px;
    color: rgb(0, 0, 0);
    }

#qtip_message_table .icon_cancel:hover {
    color: rgb(100, 100, 100);
    }

#qtip_message_table th {
    padding: 4px 2px 4px 0px;
    text-align: right;
    }

#qtip_message_table td {
    padding: 4px 4px 8px 4px;
    }

#qtip_message_table .buttons {
    text-align: center;
    }

/*  defines the main test body (only used in regression test) */
#test_body {
    margin: 12px 10px 12px 10px;
    }

/*  defines a test item (only used in regression test) */
.test_item {
    float: left;
    width: 100%;
    margin: 1px 0px 0px 0px;
    background-color: rgb(240, 240, 240);
    }

.test_item_header {
    float: left;
    padding: 6px 4px 6px 4px;
    font-weight: bold;
    }

.test_item_description {
    float: left;
    width: 58%;
    padding: 6px 4px 6px 24px;
    }

.test_item_busy {
    float: right;
    width: 38%;
    padding: 6px 4px 6px 4px;
    background-color: rgb(255, 255, 210);
    color: rgb(90, 90, 90);
    border-left: 1px solid rgb(255, 255, 255);
    font-weight: bold;
    }

.test_item_successful {
    float: right;
    width: 38%;
    padding: 6px 4px 6px 4px;
    background-color: rgb(227, 251, 227);
    color: rgb(0, 151, 0);
    border-left: 1px solid rgb(255, 255, 255);
    font-weight: bold;
    }

.test_item_unsuccessful {
    float: right;
    width: 38%;
    padding: 6px 4px 6px 4px;
    background-color: rgb(251, 227, 227);
    color: rgb(151, 48, 0);
    border-left: 1px solid rgb(255, 255, 255);
    font-weight: bold;
    }

/*  defines the white space above the end message */
#test_end_white_space {
    clear: both;
    margin: 4px 0px 4px 0px;
    }

/*  defines the end message of a successful test */
#test_end_successful {
    clear: both;
    padding: 20px 20px 20px 20px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(227, 251, 227);
    color: rgb(0, 151, 0);
    font-weight: bold;
}

/*  defines the end message of an unsuccessful test */
#test_end_unsuccessful {
    clear: both;
    padding: 20px 20px 20px 20px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(251, 227, 227);
    color: rgb(151, 48, 0);
    font-weight: bold;
}