/* Several global defines */

body, p { 
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: rgb(249, 249, 249);
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: normal;
    font-size: small;
    font-family: sans-serif;
    }    

h1 {
    margin: 6px 6px 6px 6px;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    }

h2 {
    margin: 4px 4px 4px 4px;
    font-weight: bold;
    font-size: x-large;
    }
    
h3 {
    margin: 2px 2px 2px 2px;
    font-weight: bold;
    font-size: large;
    }

table {
    float: none;
    }

td {
    text-align: left;
    padding: 10px 10px 10px 10px;
    border: rgb(170, 170, 170) solid 1px;
    font-size: small;
    }

th {
    text-align: left;
    font-weight: bold;
    font-size: small;
    }

a, a:link, a:visited {
    color: rgb(1, 44, 184);
    text-decoration: none;
    font-weight: bold;
    }
    
a:hover {
    text-decoration: underline;
    }
    
/* Defines for login page */

.login_table td {
    text-align: left;
    padding: 2px 2px 2px 2px;
    border: 0px;
}

/* Defines for error page */

.error_table th {
    padding: 4px 7px 6px 7px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    }

.error_table td {
    padding: 4px 7px 6px 7px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(238, 238, 238);
    border: 0px;
    }
    
/* Defines for list overview */

.list_table th {
    padding: 3px 7px 5px 7px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(236, 236, 236);
    }

.list_table td {
    padding: 1px 7px 3px 7px;
    margin: 0px 0px 0px 0px;
    border: 0px;
    }

.list_table tr.odd {
    background-color: rgb(236, 236, 236);
    }
    
.list_table tr:hover {
    background-color: rgb(240, 240, 240);
    }

/* Defines for the list_table */

.main_table tr:hover {
    color: rgb(250, 189, 35);
    }

.main_table th {
    padding: 3px 7px 5px 7px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(238, 238, 238);
    }

.main_table td {
    padding: 1px 7px 3px 7px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(238, 238, 238);
    border: 0px;
    }

.main_table a, .main_table a:link, .main_table a:visited {
    color: rgb(1, 44, 184);
    text-decoration: none;
    font-weight: bold;
    }
    
.main_table a:hover {
    text-decoration: underline;
    }

/* Table data of the main row should look slightly different when it is edited */

.main_table_edit td {
    padding: 0px 0px 0px 0px;
    background-color: rgb(255, 255, 255);
    }

/* Defines for the add_row_table */

.add_row_table th {
    padding: 4px 7px 6px 7px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    }

.add_row_table td {
    padding: 4px 7px 6px 7px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(238, 238, 238);
    border: 0px;
    }

.add_row_table a, .add_row_table a:link, .add_row_table a:visited {
    color: rgb(1, 44, 184);
    text-decoration: none;
    font-weight: bold;
    }
    
.add_row_table a:hover {
    text-decoration: underline;
    }

/* Defines all input_boxes */

.input_box {
    padding: 1px 7px 3px 7px;
    margin: 0px 0px 0px 0px;
    border: rgb(170, 170, 170) solid 1px;
    text-align: left;
    font-weight: normal;
    font-size: small;
    font-family: sans-serif;
    }

/* Defines all selection_boxes */

.selection_box {
    padding: 1px 3px 3px 3px;
    margin: 0px 0px 0px 0px;
    border: rgb(170, 170, 170) solid 1px;
    text-align: left;
    font-weight: normal;
    font-size: small;
    font-family: sans-serif;
    }
    
/* Defines objects that do take up space but are invisible */
.invisible {
    visibility: hidden;
    }

/* Defines footer */

.footer td {
    background-color: rgb(255, 255, 255);
    text-align: right;
    padding: 10px 10px 10px 10px;
    border: rgb(250, 189, 35) solid 1px;
    font-size: x-small;
    }
