/* This stylesheet contains all shared styles */


/*  defines shared settings for all styles */
* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
    z-index: 10;
    }

/*  defines the html overall style of a page */
html, body {
    height: 100%;
    background-color: rgb(255, 255, 255);
    }

/*  defines the body  */
#outer_body {
    min-height: 100%;
    position: relative;
    margin: 0px 12px 0px 12px;
    background-color: rgb(255, 255, 255);
    }

/*  defines the innermost left margin */
#left_margin {
    position: absolute;
    min-height: 100%;
    width: 6px;
    top: 0px;
    left: 0px;
    background-color: rgb(157, 181, 222);
    }
    
/*  defines the colored margin at the bottom of the page */
#upper_margin {
    height: 16px;
    width: 100%;
    top: 0px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 20;
    }    

/*  defines the header of a page */
#header {
    width: 100%;
    position: absolute;
    top: 16px;
    padding: 4px 0px 4px 0px;
    background-color: rgb(157, 181, 222);
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: verdana;
    font-size: x-small;
    font-weight: normal;
    z-index: 30;
    }
    
/*  this style is used only to define upper margin 
    font characteristics should be equal to those of #header */
#hidden_upper_margin {
    margin: 0px 0px 16px 0px;
    padding: 4px 0px 4px 0px;
    font-family: verdana;
    font-size: x-small;
    font-weight: normal;
    visibility: hidden;
    }

/*  container for all page contents */
#main_body {
    margin: 0px 6px 0px 6px;
    z-index: 10;
    }    

/*  defines the title of a page */    
#page_title {
    padding: 4px 0px 4px 0px;
    background-color: rgb(157, 181, 222);
    color: rgb(255, 255, 255);
    font-family: arial black;    
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    }

/*  defines the login status of a user */    
#login_status {
    padding: 4px 0px 4px 0px;
    background-color: rgb(157, 181, 222);
    color: rgb(255, 255, 255);
    text-align: right;
    font-family: verdana;
    font-size: small;
    font-weight: normal;
    }

#login_status a, #login_status a:link, #login_status a:visited {
    color: rgb(60, 60, 175);
    text-decoration: none;
    font-weight: bold;
    }

#login_status a:hover { 
    text-decoration: underline;
    }

/*  defines the innermost right margin */
#right_margin {
    position: absolute;
    min-height: 100%;
    width: 6px;
    top: 0px;
    right: 0px;
    background-color: rgb(157, 181, 222);
    }

/*  defines the footer of a page */
#footer {
    width: 100%;
    bottom: 24px;
    position: absolute;
    padding: 4px 0px 4px 0px;
    background-color: rgb(157, 181, 222);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: verdana;
    font-size: small;
    font-weight: normal;
    }    

/*  defines the colored margin at the bottom of the page */
#lower_margin {
    height: 16px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    padding: 4px 0px 4px 0px;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    }    

/*  this style is used only to define lower margin 
    font characteristics should be equal to those of #footer */
#hidden_lower_margin {
    margin: 0px 0px 16px 0px;
    padding: 4px 0px 4px 0px;
    font-family: verdana;
    font-size: small;
    font-weight: normal;
    visibility: hidden;
    }

/*  defines the pane that contains the action bar */
#action_pane {
    margin: 12px 10px 12px 10px;
    color: rgb(0, 0, 102);
    }

/*  defines the action bar that contains a number of actions (hrefs) */
#action_bar {
    padding: 2px 2px 2px 2px;
    background-color: rgb(208, 239, 208);
    text-align: left;
    font-family: verdana;
    font-size: small;
    font-weight: normal;
    }
    
#action_bar p {
    padding: 4px 0px 4px 0px;
    }

#action_bar p span {
    padding: 4px 2px 4px 2px;
    background-color: rgb(238, 246, 238);
    }

#action_bar a, #action_bar a:link, #action_bar a:visited {
    color: rgb(60, 60, 175);
    text-decoration: none;
    font-weight: bold;
    }

#action_bar a:hover { 
    text-decoration: underline;
    }

#action_bar select { 
    padding: 1px 1px 3px 0px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    }    

