/* This stylesheet contains all database table styles */


/*  defines the pane that contains database table contents */
#database_table_content_pane {
    margin: 0px 10px 0px 10px;
    background-color: rgb(197, 214, 232);
    color: rgb(95, 148, 206);
    }

#database_table_contents_top_left {
    background: url(../images/standard_contents_top_left.gif) left top no-repeat;
    z-index: 100;
    }

#database_table_contents_top_right {
    background: url(../images/standard_contents_top_right.gif) right top no-repeat;
    z-index: 100;
    }

/*  defines area above database table contents */
#database_table_contents_top {
    padding: 0px 14px 0px 14px;
    height: 58px;
    }

/*  defines archive selector in database table contents top */
#database_table_archive_select {
    float: left;
    margin: 17px 24px 0px 0px;
    padding: 0px 0px 0px 28px;
    background: url(../images/icons/boomy_icon_folder_bw.png) left top no-repeat;
    }

#database_table_archive_select:hover {
    background: url(../images/icons/boomy_icon_folder_highlight.png) left top no-repeat;
    }

#database_table_archive_select select {
    margin: 0px 0px 0px 0px;
    border: 1px solid rgb(171, 187, 202);
    color: rgb(50, 50, 50);
    }

/*  defines filter in database table contents top */
#database_table_filter {
    float: left;
    margin: 17px 20px 0px 0px;
    }

#database_table_filter form {
    display: inline;
    float: left;
    margin: 0px 8px 0px 0px;
    background: url(../images/icons/boomy_icon_search_bw.png) right top no-repeat;
    }

#database_table_filter form:hover {
    background: url(../images/icons/boomy_icon_search_highlight.png) right top no-repeat;
    }

#database_table_filter input {
    margin: 0px 0px 0px 0px;
    padding: 2px 5px 3px 5px;
    border: 1px solid rgb(171, 187, 202);
    color: rgb(50, 50, 50);
    }

#database_table_filter .icon_delete {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 5px 18px;
    }

/*  defines database table pages in database table contents top */
#database_table_pages_top {
    margin: 19px 0px 0px 0px;
    float: right;
    }

/*  defines table that contains database table contents */
#database_table_contents {
    display: block;
    width: 100%;
    float: none;
    margin: 0px 0px 14px 0px;
    border-collapse: collapse;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(50, 50, 50);
    background-color: rgb(232, 232, 232);
    }

#database_table_contents .note_creator {
    color: rgb(120, 120, 120);
    }

#database_table_contents tr {
    background-color: rgb(232, 232, 232);
    }

.database_table_contents_header_sort, .database_table_contents_header_sort_up, .database_table_contents_header_sort_down {
    float: left;
    padding: 6px 5px 6px 5px;
    color: rgb(0, 0, 0);
    background: url(../images/standard_arrow_sort.gif) right center no-repeat;
    }

.database_table_contents_header_sort_up {
    background: url(../images/standard_arrow_sort_up.gif) right center no-repeat;
    }

.database_table_contents_header_sort_down {
    background: url(../images/standard_arrow_sort_down.gif) right center no-repeat;
    }

#database_table_contents tr th:hover {
    background-color: rgb(197, 214, 232);
    }

#database_table_contents td {
    padding: 4px 5px 4px 5px;
    border-top: 1px solid rgb(255, 255, 255);
    vertical-align: top;
    }

#database_table_contents .icon_delete {
    padding: 3px 0px 3px 24px;
    margin: -2px 0px -2px 0px;
    }

#database_table_contents .icon_edit {
    padding: 3px 0px 3px 24px;
    margin: -2px 0px -2px 0px;
    }

#database_table_contents .icon_archive {
    padding: 3px 0px 3px 24px;
    margin: -2px 0px -2px 0px;
    }

#database_table_contents .icon_unarchive {
    padding: 3px 0px 3px 24px;
    margin: -2px 0px -2px 0px;
    }

#database_table_contents tbody tr:hover {
    background-color: rgb(197, 214, 232);
    }

#database_table_contents a, #database_table_contents a:link, #database_table_contents a:visited {
    color: rgb(50, 50, 50);
    }

#database_table_contents a:hover {
    color: rgb(0, 0, 0);
    }

/*  defines area below database table contents */
#database_table_contents_bottom {
    display: block;
    padding: 0px 0px 14px 0px;
    }

#database_table_contents_bottom_left {
    padding: 0px 0px 0px 0px;
    background: url(../images/standard_contents_bottom_left.gif) left bottom no-repeat;
    z-index: 100;
    }

#database_table_contents_bottom_right {
    padding: 0px 0px 0px 0px;
    background: url(../images/standard_contents_bottom_right.gif) right bottom no-repeat;
    z-index: 100;
    }

#database_table_contents_bottom a, #database_table_contents_bottom a:link, #database_table_contents_bottom a:visited {
    color: rgb(95, 148, 206);
    }

#database_table_contents_bottom a:hover {
    border-bottom: 2px solid rgb(95, 148, 206);
    }

/*  defines database table pages in database table contents bottom */
#database_table_pages_bottom {
    color: rgb(120, 120, 120);
    text-align: center;
    }

/*  defines pane that contains database table record contents */
#database_table_record_contents_pane {
    display: block;
    float: none;
    background-color: rgb(232, 232, 232);
    padding: 10px 0px 12px 16px;
    border-left: 2px solid rgb(197, 214, 232);
    border-right: 2px solid rgb(197, 214, 232);
    border-bottom: 2px solid rgb(197, 214, 232);
    }

/*  defines table that contains contents of one database table record */
#database_table_record_contents {
    margin: 0px 0px 10px 0px;
    width: 100%;
    float: none;
    color: rgb(50, 50, 50);
    }

#database_table_record_contents th {
    padding: 4px 10px 4px 0px;
    vertical-align: top;
    }

#database_table_record_contents td {
    padding: 4px 0px 4px 10px;
    vertical-align: top;
    }

#database_table_record_contents .super_width {
    width: 100%;
    }

#database_table_record_contents .note_text {
    margin: 4px 0px 4px 0px;
    }

#database_table_record_contents #button_upload {
    color: rgb(95, 148, 206);
    font-weight: bold;
    }

/*  This id_name is needed for ajax uploader */
#database_table_record_contents #button_upload.hover {
    background: url(../images/icons/boomy_icon_add_highlight.png) left bottom no-repeat;
    color: rgb(50, 50, 50);
    }

#database_table_record_contents select, #database_table_record_contents input, #database_table_record_contents textarea {
    border: 1px solid rgb(190, 190, 190);
    }

#database_table_record_contents a, #database_table_record_contents a:link, #database_table_record_contents a:visited {
    color: rgb(95, 148, 206);
    }

#database_table_record_contents a:hover {
    color: rgb(50, 50, 50);
    }

#database_table_record_contents_pane #record_contents_buttons {
    float: none;
    }

#database_table_record_contents_pane #record_contents_buttons a, #database_table_record_contents_pane #record_contents_buttons a:link, #database_table_record_contents_pane #record_contents_buttons a:visited {
    color: rgb(95, 148, 206);
    }

#database_table_record_contents_pane #record_contents_buttons a:hover {
    color: rgb(50, 50, 50);
    }